.item {
    padding: 20px 20px 20px 20px;
    display: flex;
    align-items: center;

    transition: color 0.75s ease 0.1s;
    transition: background-color 0.25s ease 0.1s;
}

.item:hover {
    color: #b9cee2;
    background-color: #cde7ff15;
}

.item:active {
    background: #06233f9a;

}

.router-link-active {
    background-color: #2162be;
}

.sideIcon {
    margin-left: 10px;
    color: var(--main-color);
}

.text {
    margin-left: 30px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 992px) {
    .item {
        transition: none;
    }
}